@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px 0;
}
body .parent{
    border-radius: 20px;
    width:400px;
    padding:25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border:1px solid ;
    box-shadow: 15px 15px hsl(0, 0%, 7%);
}
body .parent img{
    border-radius: 10px;
}
body .parent button{
    background-color:hsl(47, 88%, 63%) ;
    color:hsl(0, 0%, 7%);
    border:0;
    border-radius: 5px;
    margin:20px 0;
    width:fit-content;
    padding:7px 12px;
    font-weight:800;
    transition: all .3s ease;
}
body .parent button:hover{
    background-color: hsl(0, 0%, 7%);
    color:white;
    cursor:pointer;
}
body .parent p{
    font-size: 16px;
}
body .parent h2{
    width: 100%;
    margin:20px 0;
    transition: all 0.3s ease;
}
body .parent h2:hover, body .parent h2:active{
    cursor: pointer;
    color:hsl(47, 88%, 63%);
}
body .parent .p{
    color:hsl(0, 0%, 50%);
    line-height: 30px;
}
body .parent div{
    margin-top:20px;
}
body .parent .avatar{
    display: flex;
    align-items: center;
}
body .parent .avatar img{
    width:35px;
    margin-right:20px;
}
body .parent .avatar p{
    font-weight: 800;
}


@media only screen and (max-width: 700px) {
    body{
        margin:20px;
    }
    body .parent{
      width:100%;
    }
  }